/target
/pkg
/my_database.log
/.idea
/tests/stress_data.json
/tests/stress_keys.json
/my_database.log.snapshot.bin
/moltendb-core/pkg/
/web-packages
/backup
/moltendb-server/target
/backup_hook.ps1
/backup_hook.sh
